@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @import "./themes/darkmatter.css"; */
@import "./themes/oceanbreeze.css";
/* @import "./themes/claude.css"; */
/* @import "./themes/nature.css"; */
/* @import "./themes/default.css"; */

@layer base {

    *,
    *::before,
    *::after {
        /* box-sizing: border-box; */
        @apply box-border border-border outline-ring/50 antialiased touch-pan-y select-none;
        /* touch-action: none; */
        /* touch-action: pan-y; */
        /* scrollbar-width: thin;
        scrollbar-color: hsl(var(--sidebar-foreground)) hsl(var(--sidebar)); */
    }

    html {
        font-size: 2rem;
    }

    html,
    body {
        /* touch-action: pan-x pan-y; */
        @apply touch-pan-x touch-pan-y;
    }

    button {
        @apply cursor-pointer;
    }


    /* width */
    *::-webkit-scrollbar {
        @apply w-2;
    }

    /* Track */
    *::-webkit-scrollbar-track {
        @apply bg-sidebar border-sidebar-foreground border-l-1;
    }

    /* Handle */
    *::-webkit-scrollbar-thumb {
        @apply bg-sidebar-foreground;
    }

    /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
        @apply bg-sidebar-primary
    }

    pre,
    code {
        font-family:
            "JetBrains Mono",
            "Fira Code",
            "Cascadia Mono",
            "SFMono-Regular",
            Consolas,
            monospace;
        white-space: pre;
        font-variant-ligatures: none;
    }
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}