@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @import "./themes/darkmatter.css"; */
@import "./themes/oceanbreeze.css";
/* @import "./themes/claude.css"; */
/* @import "./themes/nature.css"; */
/* @import "./themes/default.css"; */

@layer base {
    *,
    *::before,
    *::after {
        /* box-sizing: border-box; */
        @apply box-border border-border outline-ring/50 antialiased;
        touch-action: none;
    }

    html {
        font-size: 2rem;
    }
    html,body {
        /* touch-action: pan-x pan-y; */
        @apply touch-pan-x touch-pan-y;
    }
}


button {
    cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
